.color {
  background-color: #eae3d2;
  height: 100vh;
}

.admin_panelHolder {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.sidebar {
  width: 20.5%;
  /* background-color: rebeccapurple; */
  position: fixed;
  background-color: white !important;
  height: 85.5vh;
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* .sidebar p a{
  margin-left: 20px;
  font-size: 20px;
  /* padding: 10px; 
  width: 250px;
} */


.admin_request {
  width: 78%;
}
.request-btn{
  margin-top: 30px; 
}
.sidebar p{
  margin-left: 20px;
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  width: 240px;
}
.sidebar p:hover{
  border-radius: 10px;
  background-color: white;
  width: 240px;
  margin-left: 20px;
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
  color: rgb(242, 10, 49);
}
.space{
  margin-left: 5px;
}
.request-btn{
  border: 1px solid rgb(242, 10, 49);
  border-radius: 10px;
  background-color: rgb(242, 10, 49);
  color: white;
  
}
.event_centers-btn{
  border: 1px solid rgb(242, 10, 49);
  border-radius: 8px;
  background-color: rgb(242, 10, 49);
  color: white;
  
}
.event_centers-btn{
  margin-top: 20px;
}
b{
  font-size: 20px;
  
}
.babcock_logo{
  height: 150px;
  width: 150px;
  margin-top: 40px;
  margin-left: 65px !important;
}
