.color {
  background-color: #eae3d2;
}

.admin_panelHolder {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
}

.sidebar {
  width: 20.5%;
  /* background-color: rebeccapurple; */
  position: fixed;
  background-color: white !important;
  height: 100vh;
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 20px;
}
/* .sidebar p a{
  margin-left: 20px;
  font-size: 20px;
  /* padding: 10px; 
  width: 250px;
} */


.admin_request {
  width: 78%;
}
.request-btn{
  margin-top: 100px; 
}
.sidebar p{
  margin-left: 20px;
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  width: 240px;
}
.sidebar p:hover{
  border-radius: 8px;
  background-color: rgb(212, 212, 212);
  width: 240px;
  margin-left: 20px;
  font-size: 18px;
  padding: 5px;
  padding-left: 10px;
}
.space{
  margin-left: 5px;
}
.event_centers-btn{
  margin-top: 20px;
}
b{
  font-size: 18px;
}