.request_holder1{
    width: 95%;
    background-color: white ;
    height: 85vh;
    margin-left: 170px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add{
    margin-bottom: 10px !important;
    font-size: 15px;
    /* border: none; */
    background-color: #446A46;
    color: white;
    border: none;
    padding-top: 0;
    width: 50px;
    border-radius: 5px;
    
}


.EventHeader{
    text-align: center;
}


@media screen and (max-width:1024px) {

    .request_holder1{
        margin-left: 0px;
    }
    
}