.client-home-container {
  margin-top: 50px;
  padding: 20px;
}

.top-section {
  display: flex;
  /* gap: 300px; */
}

.welcome-section {
  display: flex;
  padding: 20px;
  background-color: #ff3259;
  border-radius: 30px 30px 0 30px;
  /* margin: 30px 300px 40px 0; */
}

.date {
  text-align: center;
  margin: 40px;
  min-width: 200px;
}

.today {
  font-size: 1.55rem;
}

.day {
  font-weight: 700;
}

.year {
  font-size: 3rem;
  font-weight: 700;
}

.welcome-header {
  color: aliceblue;
  font-size: 1.8rem;
}

.welcome-text {
  color: aliceblue;
  font-size: 1.14rem;
  margin-right: 100px;
  line-height: 1.7;
}

.welcome-image {
  height: 250px;
  width: 600px;
  object-fit: cover;
}

.event-header {
  margin: 15px 0;
  color: #ff3259;
  font-size: 2.2rem;
}

ul.nav li {
  cursor: pointer;
  padding: 20px;
  font-size: 1.3rem;
  position: relative;
  transition: all 0.2s;
}

ul.nav li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff3259;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul.nav li.active:after {
  width: 100%;
  left: 0;
}

ul.nav li.active {
  color: #ff3259;
}

.UpcomingEventsTab,
.PendingEventsTab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.event-container {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 20px;
  padding: 20px;
  width: 390px;
  min-height: 250px;
}

.event-date {
  margin: 15px 0 5px;
  color: #888888;
}

.event-name {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 10px 0;
}

.location-block {
  font-size: 1.2rem;
  margin: 5px 0;
}

.event-image-container {
  background-color: #f1f1f1;
  border-radius: 20px;
  text-align: center;
}

.event-image {
  height: 300px;
  width: 360px;
  padding: 10px;
}


.upcomingevents_holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}


.PendingEventsTab{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .date{
    display: none;
  }
  .welcome-image{
    display: none;
  }
}


@media screen and (max-width:1440px) {
  .top-section{
    margin-left: 5%;
    margin-right: 5%;
  }
  
}