.footer{
    width: 100%;
    background-color: #ff3259;

   
}

.child {
    width: 200px;
    margin: 0 auto;
    padding: 5px;

  }

  .finl_txt{
    text-align: center;
    background-color: whitesmoke;
    font-size: 30px;
  
  }

  p{
    margin-bottom: 0px !important;
  }

  .footer_link-size{
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }