.request_holder{
    background-color: white;
    width: 95%;
    margin-left: 170px;
    margin-top: 10px;
    border-radius: 20px;
    color: black;
    height: 85vh !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.request_holder2{
    height: 85vh !important;
    
}

.holder_nav{
    border-radius: 10px 10px 0px 0px;
    height: 100px;
   
    /* background-color: rgb(199, 169, 169); */
    /* border-bottom: 1px solid ; */
}


.holder_content{
    padding: 20px;
    
}

.holder_nav div {
    display: flex;
    flex-direction: row;
    /* margin-top: 100px; */
}

.holder_nav div p{
    margin-top: 70px;
    width: 100%;
    padding: 11px;
}

.holder_nav div p:hover{
    background-color: whitesmoke;
}

.nav_icon{
    font-weight: 100;
    position: relative;
    top: -2px;
    margin-right: 5px;
    /* padding-left: 5px; */
}
.options{
    color: grey;
    padding-left: 65px !important;
}
.options:hover{
    color: black;
}

.request_info{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    height: 70px;
}

.requestContent_holder{
    height: 60vh;
    overflow: auto;
}

.back_btn{
    background-color: transparent;
    border: none;
  
}

.arrow{
    font-size: 30px;
    color: grey;
}
.detail_holder{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 700px;
}


.top_div{
    height: 200px;
    width: 700px;
}

.middle_div{
    height: 200px;
    width: 700px;
}
.bottom_div{
    height: 200px;
    width: 700px;
}
.event_details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
}
.detail_holder h4{
    /* width: 600px; */
    margin-bottom: 10px;
    /* margin-top: 20px; */
}
.event_details_title{
    /* margin-top: 10px; */
}
.contact_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
}
.event{
    width: 350px;
}
.space_3{
    margin-top: 20px;
}
.action_button{
    display: flex;
    flex-direction: row;
    width: 180px;
    position: relative;
    left: 150px;  
}
.accept_btn{
    background-color: green;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
.decline_btn{
    background-color: red;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px ;
}
.submit_btn{
    background-color: lightskyblue;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px ;
}


.options3{
    width: 100%;
    position: relative;
    top: -18px;
}
@media screen and (max-width:1024px) {
   .request_holder{ background-color: white;
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
    border-radius: 20px;
    color: black;
    height: 85vh !important;

   }


   .detail_holder{

 width: 500px;
}




   .request_holder2{
    margin-left: 0px !important;
    margin-top: 40px;
   }
   
   .holder_nav{
    width: 100%;
   }
  
   .sidebar{
    display: none;
   }


}